* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efeded;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#top-box {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #645cff; */
}
#box {
  background-color: #fff;
  width: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
input {
  width: 400px;
  height: 30px;
  font-size: large;
  padding: 15px;
  background-color: #efeded;
  border: none;
  color: black;
}
button {
  width: 100px;
  height: 30px;
  font-style: large;
  text-align: center;
  background-color: #645cff;
  color: white;
  cursor: pointer;
  border: none;
}
inuput,
button {
  float: right;
}
#bottom-box {
  width: 100%;
  height: fit-content;
  /* background-color: #e01c1c; */
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section {
  background-color: #fff;
  width: 44%;
  padding: 15px;
  margin: 15px;
}
